<a href="https://colab.research.google.com/github/umar-farouk-ahmed/SkillMorph/blob/main/Class_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction**

## **2.1 Variable**

In [ ]:
name = "umar"
age = 22
color = "black"
print("Name:" ,name)
print("Age:" ,age)
print("Color:" ,color)

Name: umar
Age: 22
Color: black

## **2.2 Data Types**

In [ ]:
name = "Umar"
num1 = 10
num2 = 10.5
flag = True
result = None
print(type(name))
print(type(num1))
print(type(num2))
print(type(flag))
print(type(result))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

## **2.3 Basic Operations**

In [ ]:
length = 7
width = 5
print("Area: ",length*width)
print("Perimeter: ",2*(length+width))

Area:  35
Perimeter:  24

## **2.4 Lists**

In [ ]:
foods = ["Mango","Apple","Banana","Orange","Grape"]
print(foods[0])
print(foods[-1])

Mango
Grape

## **2.5 List Methods**

In [ ]:
nums = [1,5,3,4,2]
nums.append(6)
print(nums)
nums.remove(3)
print(nums)
nums.sort()
print(nums)

[1, 5, 3, 4, 2, 6]
[1, 5, 4, 2, 6]
[1, 2, 4, 5, 6]

## **2.6 Dictionaries**

In [ ]:
info = {
    "Name: ": "Umar Farouk Ahmed",
    "Age: " : 22,
    "Gender: " : "Male",
    "Country: " : "Bangladesh",
    "University: ":"United International University",
    "Courses: ":["C","C++","Java","Python"]
}
print(info["Name: "])
print(info["University: "])
print(info["Courses: "][1])

if info["Age: "] > 18:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

Umar Farouk Ahmed
United International University
C++
You are eligible to vote

## **2.7 Tuples**

## **2.8 Sets**

In [ ]:
first = {"Red","Green","Blue"}
second = {"Yellow","Green","Orange","Red"}
all_color = first | second
common = first & second
print(all_color)
print(common)

{'Green', 'Yellow', 'Red', 'Orange', 'Blue'}
{'Green', 'Red'}

## **2.9 If-Else**

In [ ]:
num = int(input("Enter an integer number: "))
if num > 0:
  print("Positive")
elif num < 0:
  print("Negative")
else:
  print("Zero")

Enter an integer number: -88
Negative

## **2.10 Nested If Else**

In [ ]:
status = input("Enter your status: ")
age = int(input("Enter your age: "))
if status == "student":
  if age < 25:
    print("Eligible for discount")
  else:
    print("Not Eligible for discount")
elif status == "senior":
  if age > 60:
    print("Eligible for discount")
  else:
    print("Not Eligible for discount")

Enter your status: senior
Enter your age: 65
Eligible for discount

## **2.11 Loops**

In [ ]:
for i in range(1,11):
  if(i % 2 == 0):
    print(i,end=" ")

2 4 6 8 10

## **2.12Nested Loop Creating Pyramid 🔼🔼🔼**

In [ ]:
# Creating a pyramid
for i in range(0,5):
  for k in range(1,(5-i)):
    print(" ",end=" ")
  for j in range(0,((2*i)+1)):
    print("*",end=" ")
  print("\n")

        *

      * * *

    * * * * *

  * * * * * * *

* * * * * * * * *

## **2.13 Functions Basics**

In [ ]:
# Function that converts temperature from Celsius to Fahrenheit using the formula

def convert(x):
  return x*1.8+32
temperature = float(input("Enter a celcius temperature: "))
result = convert(temperature)
print("Farenheit: ",result )

Enter a celcius temperature: 30
Farenheit:  86.0

## **2.14 Functions: Advanced Features**

In [ ]:
def area(length=5,width=10):
  return length*width

result = area()
print(result)

50